.btn-dv{
    background: rgb(0,91,169); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,91,169,1) 0%, rgba(88,153,210,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,91,169,1)), color-stop(100%,rgba(88,153,210,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,91,169,1) 0%,rgba(88,153,210,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,91,169,1) 0%,rgba(88,153,210,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,91,169,1) 0%,rgba(88,153,210,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,91,169,1) 0%,rgba(88,153,210,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005ba9', endColorstr='#5899d2',GradientType=0 ); /* IE6-9 */

    border-radius: 10px;
    @include box-shadow(0 3px 0px 0px #2a70ac);
    color: $white;
    padding: 10px 15px;
    font-family: $font-open;
    font-weight: bold;
    font-size: 12px;
    @include transition(all 0.35s);
    display: inline-block;
    width: 145px;
    margin: 10px;

    &:hover{
        background: rgb(161,9,3); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(161,9,3,1) 0%, rgba(227,0,15,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(161,9,3,1)), color-stop(100%,rgba(227,0,15,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(161,9,3,1) 0%,rgba(227,0,15,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(161,9,3,1) 0%,rgba(227,0,15,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(161,9,3,1) 0%,rgba(227,0,15,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(161,9,3,1) 0%,rgba(227,0,15,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a10903', endColorstr='#e3000f',GradientType=0 ); /* IE6-9 */

        @include box-shadow(0 3px 0px 0px #950c00);
        color: $white;
    }    
}

.btn-ask{
    @include box-shadow(0px 0px 0px 3px #ffa3a8);
	padding: 6px 2px;
    border-radius: 5px;
    display: inline-block;
    margin-left: 20px;

    span{
        border-radius: 5px;
        background-color: #de010e;
        padding:4px 30px;
        color: $white;
        font-size: 22px;
        font-family: $font-open;
        font-weight: 600;  

    }
    &:hover{
        span{
            background: url("../img/shadow.png") no-repeat center bottom;
            background-size: 100% 100%;
        }
    }
}
.btn-blue{
	span{
		background: url("../img/btn-blue.png") no-repeat center bottom;
		background-size: 100% 100%;
	}
	&:hover{
        span{
            background: url("../img/btn-blue-hover.png") no-repeat center bottom;
            background-size: 100% 100%;
        }
    }
}