.icon{
    display: inline-block;
    vertical-align: middle;
    
    &.call-icon{
        width: 20px;
        height: 20px;
        background: url("../img/header-icon.png") no-repeat 0 0;
    }
    &.contact-icon{
        width: 25px;
        height: 20px;
        background: url("../img/header-icon.png") no-repeat -22px 0;
    }
    &.card-icon{
        width: 30px;
        height: 27px;
        background: url("../img/icon.png") no-repeat -33px 0;
    }
    &.download-icon{
        width: 30px;
        height: 27px;
        background: url("../img/icon.png") no-repeat 0px 0;
    }
}
