/*
    Author     : Mihai Starniciuc
*/
@import "compass";
@import "fonts";
@import "colors";
@import "icons";
@import "buttons";

body{
    font-family: $font-open;
}

header{
    min-height: 115px;
    background-color: $white;
    @include box-shadow(0 3px 5px rgba(0, 0, 0, 0.15));

    .logo{
        line-height: 115px;
        text-align: center;

        a{    
            img{
                max-width: 100%;
            }            
        }
    }

    .number-call{
        height: 70px;

        a{
            color: $black;
            font-size: 30px;
            line-height: 70px;

            &:hover{
                text-decoration: none;
            }
        }
    }
	
    .call-block{
        a{
            display: inline-block;
            color: $black;
            font-size: 14px;
            margin-right: 20px;

            span{
                border-bottom: 1px dotted $black;
                @include transition(border, 0.35s);
            }

            &:hover{
                text-decoration: none;

                span{
                    border-bottom: 0; 
                }                
            }
        }
    }

    .button-side{
        text-align: center;
        line-height: 115px;
    }
}

main{
    padding-top: 115px;

    .slider-side{
        background: url("../img/slider-footer.png") no-repeat center bottom;
        background-size: cover;
        background-color: $white;
    }
    .slider-banner{
        margin: 25px 0;
        padding:0 35px;
        position: relative;

        .banner-slider{
            li{
                img{
                    width: 100%;
                }
            }
        }
        .bx-controls-direction{
            .bx-prev, .bx-next{
                position: absolute;
                top: 0px;
                width: 57px;
                text-indent: -9999px;
                background: url("../img/slider-tool.png") no-repeat 0 0;
                background-size: auto 455px;
                height: 420px;
            } 
            .bx-prev{
                left: 0;
            }
            .bx-next{
                right: 0;
                background-position: -57px 0;
            }
        }  
        .bx-pager{
            position: absolute;
            top: 370px;
            left: 160px;
            .bx-pager-item{
                display: inline-block;
                margin: 5px;

                a{
                    width: 25px;
                    height: 25px;
                    background: url("../img/slider-tool.png") no-repeat -2px -372px;
                    text-indent: -9999px;
                    display: inline-block;

                    &.active{
                        background-position: -27px -372px;
                    }

                    &:hover{
                        background-position: -52px -372px; 
                    }
                }

            }
        }
    }
    .tab-content{
        background-color: $white;
        border: 1px solid $white;
        border-bottom: 0;
        border-top: 0;

        .block-prod{
            text-align: center;
            padding: 50px 0 10px; 

            h2{
                color: $black;
                font-size: 20px;
                font-family: $font-open;
                font-weight: bold;
            }
            p{
                color: #565656;
                font-size: 15px;
                font-family: $font-open;
            }
        }
    }
    .tab-bottom{
        margin-bottom: 20px;
        margin-top: -1px;

        img{
            width: 100%;
            height: auto;
        }
    }
    .nav-tabs {
        & > li{
			width: 33.33%;
			
            & > a{
                padding:25px 30px;
                border: 0;
                border: 1px solid transparent;
                border-bottom: 0;
                border-radius: 6px 6px 0 0;
                background-color: #1d6fb6;

                color: $white;
                font-size: 20px;
                font-weight: 600;
                font-family: $font-open;
                @include transition(all 0.35s);

                &:hover, &:focus{
                    background-color: #bf0608;
                    border: 1px solid $white;
                    border-bottom: 0;
                    color: $white;
                    font-size: 20px;
                    font-weight: 600;
                    font-family: $font-open;  
                }
            }

            &.active{
                a{
                    background: rgb(222,228,234); /* Old browsers */
                    background: -moz-linear-gradient(top, rgba(222,228,234,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,228,234,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top, rgba(222,228,234,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top, rgba(222,228,234,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top, rgba(222,228,234,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
                    background: linear-gradient(to bottom, rgba(222,228,234,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dee4ea', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

                    color: #17548b;
                    font-size: 20px;
                    font-weight: 600;
                    font-family: $font-open;
                    border: 1px solid $white;
                    border-bottom: 0;

                    &:hover, &:focus{
                        background-color: #bf0608;
                        border: 1px solid $white;
                        border-bottom: 0;
                        color: #17548b;
                        font-size: 20px;
                        font-weight: 600;
                        font-family: $font-open;  
                    }
                }
            }
        }
    }

    .query{
        font-size: 24px;
        font-family: $font-open;
        font-weight: 600;
        color: $black;
    }

    .bg-red{
        background: url("../img/bg-red.png") no-repeat center top;
        background-size: cover;
        background-color: $white;
        padding-top: 50px; 
        text-align: center;
        font-family: $font-open;
        padding-bottom: 260px;

        h1{
            color: $white;
            font-size: 40px;
            font-weight: 600;
            text-align: center;
            font-family: $font-open;
        }

        .product{
            padding: 20px 0 40px;
            p{
                color: $white;
                font-size: 22px;
                display: block;
                min-height: 65px;
                font-family: $font-open;
            }
        }
    }

    .form-ask{
        margin-top: -260px;

        .form-side{
            background: url("../img/bg-form.png") no-repeat 0 0;
            background-size: 100% 100%;
            padding: 40px 60px;
            @include box-shadow(0 0 21px rga(18, 60, 167, 0.45));

            h1{
                text-align: center;
                color: $black;
                font-size: 40px;
                font-weight: 600;
                font-family: $font-open;
            }

            .form-group{
                margin-bottom: 25px;
            }

            label{
                color: #757575;
                font-size: 15px;
                font-family: $font-open;
                font-weight: normal;
            }

            .form-control{
                box-shadow: none;
                border: 1px solid #9d9d9d;

                &:focus{
                    border: 1px solid $black;
                    color: $black;
                }
            }
            input{
                height: 44px;
            }
            textarea{
                min-height: 140px;
            }
        }
    }
    .steps{
        background: url("../img/bg-step.png") no-repeat center bottom;
        background-size: cover;
        background-color: $white;
        padding-top: 40px;

        h1{
            text-align: center;
            color: $black;
            font-size: 40px;
            font-weight: 600;
            font-family: $font-open;
        }

        p{
            font-size: 20px;
            font-family: $font-open;
            color: $black;
            text-align: center;
            span{
                padding: 3px;
                background-color: #e2f5ff;
            }
        }

        .step{
            background: url("../img/wommen.png") no-repeat center bottom;
            background-size: 100% auto;
            height: 1500px;
            position: relative;

            a{
                display: inline-block;
                color: $black;
                font-size: 14px;

                span{
                    border-bottom: 1px dotted $black;
                    @include transition(border, 0.35s);
                }

                &:hover{
                    text-decoration: none;

                    span{
                        border-bottom: 0; 
                    }                
                }
            }

            .download-link{
                left: 545px;
                position: absolute;
                top: 305px;                 
            }

            .pay-link{
                left: 703px;
                position: absolute;
                top: 1060px;                
            }
        }
    }
    .last{
        background: url("../img/bg-last.png");

        .form{
            background: url("../img/bg-add.png") no-repeat center bottom;
            background-size: cover;
            padding: 20px 0 0px;

            .form-side-last{
                background-color: $white;
                border-radius: 5px 5px 0 0;
                padding: 20px;
                h1{
                    text-align: center;
                    color: $black;
                    font-size: 40px;
                    font-weight: 600;
                    font-family: $font-open;
                }

                .form-group{
                    margin-bottom: 25px;
                }

                label{
                    color: #757575;
                    font-size: 15px;
                    font-family: $font-open;
                    font-weight: normal;
                }

                .form-control{
                    box-shadow: none;
                    border: 1px solid #9d9d9d;

                    &:focus{
                        border: 1px solid $black;
                        color: $black;
                    }
                }
                input{
                    height: 44px;
                }
                textarea{
                    min-height: 140px;
                }
            }
        }
        h1{
            text-align: left;
            color: $black;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 600;
            font-family: $font-open;
        }
        p{
            color: #757575;
            font-size: 15px;
            font-family: $font-open;
        }
        ul > li{
            color: #757575;
            font-size: 15px;
            font-family: $font-open;
        }
        .man{
            padding-bottom: 550px;
            background: url("../img/man.png") no-repeat center bottom;

        }
    }
    .partner-slider{
        padding: 40px 0;
        position:relative;
        .slider-partner{
            padding: 0;

            li{
                padding: 20px 30px;

                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
        .bx-controls-direction{
            .bx-prev, .bx-next{
                position: absolute;
                left: 50%;
                margin-left: -31px;
                width: 63px;
                text-indent: -9999px;
                background: url("../img/slider-arrow.png") no-repeat -63px 0;
                height: 31px;
            } 
            .bx-prev{
                top: 0px;
                &:hover{
                    background-position: 0 0;
                }
            }
            .bx-next{
                bottom: 0;
                background-position: -63px -35px;
                &:hover{
                    background-position: 0 -35px;
                }
            }
        } 
    }
    .result{
        height: 398px;
        text-align: center;

        h1{
            margin-top: 70px;
        }

        p{
            color: $black;
            font-size: 15px;
            text-align: center;
        }
        a{
            color: $black;
            font-size: 15px;
            text-align: center;
            border-bottom: 1px dotted $black;

            &:hover{
                border: 0;  
                text-decoration: none;
            }               
        }
    }
}
footer{
    background-color: $white;
    height: 115px;
    @include box-shadow(0 -3px 5px rgba(0, 0, 0, 0.15));

    .logo{
        line-height: 115px;
        text-align: center;

        a{    
            img{
                max-width: 100%;
            }            
        }
    }

    .number-call{
        height: 70px;

        a{
            color: $black;
            font-size: 30px;
            line-height: 70px;

            &:hover{
                text-decoration: none;
            }
        }
    }

    .call-block{
        a{
            display: inline-block;
            color: $black;
            font-size: 14px;
            margin-right: 20px;

            span{
                border-bottom: 1px dotted $black;
                @include transition(border, 0.35s);
            }

            &:hover{
                text-decoration: none;

                span{
                    border-bottom: 0; 
                }                
            }
        }
    }
}
.padding-top-20{
    padding-top: 40px;
}
.modal-slider{
	li{
		img{
			width: 100%;
		}
	}
}
.modal-header{
    border: 0;

    .close{
        font-size: 35px;
        color: #d4d4d4;
        @include opacity(1);
        @include transition(all 0.35s);
		z-index: 1;
		position: absolute;
		top: 10px;
		right: 15px;
		
        &:hover{
            color: #de010e;
        }
    }
}
.modal-body{
    padding: 20px 60px;

    &.contact{
        padding: 20px;
    }

    h1{
        margin-top: 0;
        text-align: center;
        color: $black;
        font-size: 40px;
        font-weight: 600;
        font-family: $font-open;
    }

    .form-group{
        margin-bottom: 25px;
    }

    label{
        color: #757575;
        font-size: 15px;
        font-family: $font-open;
        font-weight: normal;
    }

    .form-control{
        box-shadow: none;
        border: 1px solid #9d9d9d;

        &:focus{
            border: 1px solid $black;
            color: $black;
        }
    }
    input{
        height: 44px;
    }
    textarea{
        min-height: 140px;
    }

    &.modalslider{
        position: relative;

        .bx-controls-direction{
            .bx-prev, .bx-next{
                position: absolute;
                top: 50%;
                margin-top: -30px;
                width: 33px;
                text-indent: -9999px;
                background: url("../img/modal-slider.png") no-repeat 0px 0;
                height: 63px;
            } 
            .bx-prev{
                left: 10px;

            }
            .bx-next{
                right: 10px;
                background-position: -33px 0px;

            }
        } 
    }
}

@import "responsiv";
